<div [tooltip]="tipContent" [delay]="250" container="body">
<span *ngIf="achievement.is_account_wide === false">
  <i class="fas fa-2x fa-check-circle" [ngClass]="{'text-success': completed, 'text-dark' : !completed}"></i>
</span>
  <span *ngIf="achievement.is_account_wide === true">
  <i class="fas fa-2x fa-exclamation-triangle text-warning" title="Account Wide"></i>
</span>
</div>

<ng-template #tipContent>
  <div class="text-left">
    <div>{{ achievement.name }}</div>
    <div class="text-muted">{{ achievement.description }}</div>
    <div class="text-muted" *ngIf="completedTimestamp">
      {{ completedTimestamp | date:'MMMM d y h:mm a'}}
    </div>
    <ul class="mb-0 py-2 px-4" *ngIf="childCriteria.length > 0">
      <li *ngFor="let item of childCriteria"
          [ngClass]="{'text-success': item.characterChildCriteria && item.characterChildCriteria.is_completed, 'text-muted' : !item.characterChildCriteria || !item.characterChildCriteria.is_completed}">
        {{ item.childCriteria.description }}
      </li>
    </ul>
  </div>
</ng-template>

