<table class="table table-dark table-striped">
  <thead>
  <tr>
    <td></td>
    <td *ngFor="let character of characters" class="text-center">
      <app-character-avatar [character]="character"></app-character-avatar>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td *ngFor="let character of characters" class="text-center">
      {{ character.achievementPoints }}
    </td>
  </tr>
  <ng-template ngFor let-achievement [ngForOf]="achievements">
    <tr>
      <td class="small">
        <div class="d-flex flex-row">
          <div>
            <img [title]="achievement.title" class="pr-2"
                 [src]="'https://render-eu.worldofwarcraft.com/icons/36/' + achievement.icon + '.jpg'">
          </div>
          <div>
            {{ achievement.title }}
            <div class="text-secondary">
              {{ achievement.description }}
            </div>
          </div>
        </div>
      </td>
      <td *ngFor="let character of characters" class="text-center">
        <app-character-achievement [character]="character" [achievement]="achievement"></app-character-achievement>
      </td>
    </tr>
  </ng-template>
  </tbody>
</table>
