<table class="table table-dark table-striped">
  <tbody>
  <tr *ngFor="let character of characters">
    <td>
      <app-character-avatar [character]="character"></app-character-avatar>
    </td>
    <td>
      <table>
        <tr>
          <td *ngFor="let profession of character.professions.primary" class="p-1">
            <app-character-profession [profession]="profession"></app-character-profession>
          </td>
          <td *ngFor="let profession of character.professions.secondary" class="p-1">
            <app-character-profession [profession]="profession"></app-character-profession>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  </tbody>
</table>
