<table class="table table-dark table-striped" *ngIf="characters && characters.length > 0">
  <thead>
  <tr>
    <td *ngFor="let character of characters" class="text-center">
      <app-character-avatar [character]="character"></app-character-avatar>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td *ngFor="let character of characters">
        <div class="p-1">
          <app-character-profession [profession]="character.professionsObject.primaries[0]"></app-character-profession>
        </div>
    </td>
  </tr>
  <tr>
    <td *ngFor="let character of characters">
        <div class="p-1">
          <app-character-profession [profession]="character.professionsObject.primaries[1]"></app-character-profession>
        </div>
    </td>
  </tr>
  <tr>
    <td *ngFor="let character of characters">
        <app-character-profession [profession]="character.professionsObject.secondaries[0]"></app-character-profession>
    </td>
  </tr>
  <tr>
    <td *ngFor="let character of characters">
        <app-character-profession [profession]="character.professionsObject.secondaries[1]"></app-character-profession>
    </td>
  </tr>
  <tr>
    <td *ngFor="let character of characters">
        <app-character-profession [profession]="character.professionsObject.secondaries[2]"></app-character-profession>
    </td>
  </tr>
  </tbody>
</table>
