<table class="table table-dark table-striped">
  <thead>
  <tr>
    <td *ngFor="let character of characters" class="text-center">
      <app-character-avatar [character]="character"></app-character-avatar>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td *ngFor="let character of characters">
      <div *ngFor="let profession of character.professions.primary">
        <div class="p-1">
          <app-character-profession [profession]="profession"></app-character-profession>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td *ngFor="let character of characters">
      <div *ngFor="let profession of character.professions.secondary" class="p-1">
        <app-character-profession [profession]="profession"></app-character-profession>
      </div>
    </td>
  </tr>
  </tbody>
</table>
