
<div class="m-3">

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="characters">Characters</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="professions">Professions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="achievements">Achievements</a>
    </li>
  </ul>
</div>
<div class="m-3">
  <router-outlet></router-outlet>
</div>
