<div class="card text-white bg-dark">
  <img class="card-img-top" avatar [character]="character" type="main">
  <div class="card-img-overlay">
    <h5 class="card-title">{{ character.name}}</h5>
    <span class="label label-default">{{ character.level }}</span>
    <!--<img [src]="'http://media.blizzard.com/wow/icons/36/' + character.talents[0] + '.spec.icon.jpg'">-->
    <!--<img avatar [character]="character" type="profilemain">-->
    <!--<img avatar [character]="character" type="inset">-->
    <!--<img avatar [character]="character" type="avatar">-->

    <!--<span class="label label-default text-capitalize">{{ character.race.side }}</span>-->
    <!--<span class="label label-default">{{ character.race.name }}</span>-->
    <!--<span class="label label-default">{{ character.class.name }}</span>-->
  </div>
  <div class="card-footer small">
    {{ class  | json }}<br>
    {{ race  | json }}
  </div>
</div>
