<div class="card text-white bg-dark">
  <img class="card-img-top" appAvatar [character]="character" type="main">
  <div class="card-img-overlay">
    <h5>{{ character.name}}<span class="float-right">{{ character.level }}</span></h5>
    <div>
      <span>{{ race.name }}</span> <span>{{ class.name }}</span><span class="text-capitalize float-right">{{ race.side }}</span>
    </div>
    <div>
      <img class="rounded" [src]="'http://media.blizzard.com/wow/icons/36/' + character.talents[0].spec.icon + '.jpg'" [title]="character.talents[0].spec.name"> {{ character.talents[0].spec.name }}
    </div>

    <!--<img [src]="'http://media.blizzard.com/wow/icons/36/' + character.talents[0] + '.spec.icon.jpg'">-->


    <!--<span class="label label-default text-capitalize">{{ character.race.side }}</span>-->
    <!--<span class="label label-default">{{ character.race.name }}</span>-->
    <!--<span class="label label-default">{{ character.class.name }}</span>-->
  </div>
  <div class="card-footer">
  </div>
</div>
