<div class="card bg-dark">
  <img class="card-img-top" [src]="character.imageMain">
  <div class="card-img-overlay">
    <h5>{{ character.name}}<span class="float-right">{{ character.level }}</span></h5>
    <div class="mt-5 pt-5">
      <span>{{ class.name }}</span>
      <span class="float-right text-capitalize">{{ race.side }}</span>
    </div>
    <div>
      <span>{{ character.talents[0].spec.name }} <img class="rounded py-1" [src]="'http://media.blizzard.com/wow/icons/18/' + character.talents[0].spec.icon + '.jpg'" [title]="character.talents[0].spec.name"></span>
      <span class="float-right">{{ race.name }}</span>
    </div>
</div>
