<div class="card bg-dark">
  <img class="card-img-top" [src]="character.imageMain">
  <div class="card-img-overlay d-flex flex-column p-2">

    <div class="row">

      <div class="col-6">
        <h4>{{ character.name}}</h4>
      </div>

      <div class="col-6 text-right">
        <h4>{{ character.level}}</h4>
      </div>

    </div>

    <div class="row mt-auto small">

      <div class="col-6 text-capitalize">
        {{ race.side }}
      </div>

      <div class="col-6 text-right">
        {{ character.talents[0].spec?.name }}
        <!--<img class="rounded my-1" [appIcon]="character.talents[0].spec.icon" size="36"-->
        <!--[title]="character.talents[0].spec.name">-->
      </div>

      <div class="col-6">
        {{ race.name }}
      </div>

      <div class="col-6 text-right">
         {{ class.name }}
      </div>

    </div>

  </div>
