<div class="card bg-dark">
  <img class="card-img-top" [src]="character.mediaObject.main_url">
  <div class="card-img-overlay d-flex flex-column p-2">

    <div class="row">

      <div class="col-6">
        <h4 class="mb-0">
          <a target="_blank" [style.color]="classColour"
             href="https://worldofwarcraft.com/en-gb/character/eu/{{ character.realm.slug }}/{{ character.name }}">
            {{ character.name }}
          </a>
        </h4>
        <div class="small">
          {{ character.realm.name }}
        </div>
      </div>

      <div class="col-6 text-end">
        <h4>{{ character.level}}</h4>
      </div>

    </div>

    <div class="row mt-auto small">

      <div class="col-6 text-capitalize">
        {{ character.faction.name }}
      </div>

      <div class="col-6 text-end">
        {{ character.active_spec.name }}
        <!--<img class="rounded my-1" [appIcon]="character.talents[0].spec.icon" size="36"-->
        <!--[title]="character.talents[0].spec.name">-->
      </div>

      <div class="col-6">
        {{ character.race.name }}
      </div>

      <div class="col-6 text-end">
        {{ character.character_class.name }}
      </div>

    </div>

  </div>
