body {
  background-color: black;
  color: white;
}

.avatar-background {
  /*background-image: url('assets/images/avatar-gold.png');*/
  /*background-size: cover;*/
}

.avatar-image {
  /*border: 2px solid;*/
  border-radius: 50%;
}
