<div class="p-t-2">
    <table class="table table-inverse">
        <tbody>
            <tr ng-repeat="character in characterController.data.characters | orderBy:['-level','name']">
                <td style="color: {{ character.class.colour }};">{{ character.name }}</td>
                <td><character-profession data="character.professions.primary[0]"></character-profession></td>
                <td><character-profession data="character.professions.primary[1]"></character-profession></td>
                <td ng-repeat="profession in character.professions.secondary | orderBy:'name'"><character-profession data="profession"></character-profession></td>
            </tr>
        </tbody>
    </table>
</div>
